image: node:25-alpine3.22

stages:
  - install
  - build

cache:
  key: ${CI_COMMIT_REF_SLUG}
  paths:
    - node_modules/

install_dependencies:
  stage: install
  script:
    - npm ci

build_app:
  stage: build
  script:
    - npm run build


    
docker:
  stage: build
  script: 
    - docker build -t buynest-frontend .